<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-primary">Archive</h1>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="list-group sidebar-nav-fixed">
        {{link-to "All" "activity.index" class="list-group-item"}}
        {{link-to "Strava" "activity.strava" class="list-group-item"}}
        {{link-to "RunKeeper" "activity.runkeeper" class="list-group-item"}}
        {{link-to "Nike+" "activity.nike" class="list-group-item"}}
        {{link-to "Archive" "activity.history" class="list-group-item"}}
      </div>
    </div>
    <div class="col-sm-10">
      {{outlet}}
    </div>
</div>
